<a href="https://colab.research.google.com/github/arora123/Python-Basics-Tutorials/blob/main/For_Loop_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Control Structure _ for loop

- for loop through a range of numbers
- for loop over a sequence in reverse
- for loop through a string
- for loop through a list
- for loop over a sequence in sorted order
- for loop over unique elements of the sequence in sorted order
- for loop through a dictionary
- for loop using enumerate
- for loop over two or more sequences at the same time using zip
- nested for loop

We will use **range(), enumerate(), reversed(), set(), & sorted() functions **for many of these loops


#Break, Continue and pass statements
- for loop with if-else
- for loop with break statement
- for loop with continue statement
- for loop with pass statement

##range() function

In many ways the object returned by range() behaves as if it is a list, but in fact it isn’t. It is an object which returns the successive items of the desired sequence when you iterate over it, but it doesn’t really make the list, thus saving space.

We say such an object is iterable, that is, suitable as a target for functions and constructs that expect something from which they can obtain successive items until the supply is exhausted

In [ ]:
range(5)
list(range(1, 6))

[1, 2, 3, 4, 5]

In [ ]:
range(1, 10)

range(1, 10)

In [ ]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [ ]:
list(range(5))

In [ ]:
list(range(1, 5))

In [ ]:
list(range(1, 10, 3))

## for loops through a range of numbers

In [ ]:
for i in range(11):
  i  = 20 + i
  print(i)  
  print('done')

In [ ]:
for i in range(5):
  print(i)
  # print(5)
print("loop done")

In [ ]:
for i in range(1, 10, 2):
  # print("odd number:")
  print(i)

##for loop over a sequence in reverse

In [ ]:
for i in reversed(range(5)):
  print(i)

4
3
2
1
0

In [ ]:
for i in reversed(range(1, 10, 2)):
  print(i)

9
7
5
3
1

## for loops through a string

In [ ]:
for i in "Python":
  print(i)

P
y
t
h
o
n

## for loops through a list

In [ ]:
len("python")

6

In [ ]:
x = ["delhi","pune","mumbai",
    "bangalore","hyderabad","lucknow","chennai"]

for city in x:
  print(city)
  print(len(city))

delhi
5
pune
4
mumbai
6
bangalore
9
hyderabad
9
lucknow
7
chennai
7

In [ ]:
age = [26, 35, 45, 36]

for age in age:
  print(age)

26
35
45
36

##for loop over a sequence in sorted order

In [ ]:
x = ["delhi","pune","mumbai",
    "bangalore","hyderabad","lucknow","chennai", "delhi", "pune"]

# print(sorted(x))

# for city in sorted(x):
#   print(city)

# print(sorted(set(x)))

for city in sorted(set(x)):
  print(city)

bangalore
chennai
delhi
hyderabad
lucknow
mumbai
pune

In [ ]:
age = [26, 35, 45, 36, 26, 47, 26, 35, 49]

for i in sorted(age):
  print(i)

## for loop over unique elements of the sequence in sorted order

In [ ]:
set([1,3,4])

set((1,3,4))

x = ["delhi","pune","mumbai",
    "bangalore","hyderabad","lucknow","chennai", "delhi", "pune"]

set(x)

{'bangalore', 'chennai', 'delhi', 'hyderabad', 'lucknow', 'mumbai', 'pune'}

In [ ]:
#@title
from platform import python_version
python_version() #3.6.9

In [ ]:
x = ["delhi","pune","mumbai",
    "bangalore","hyderabad","lucknow","chennai", "delhi", "pune"]

for city in sorted(set(x)):
  print(city)

# Using set() on a sequence eliminates duplicate elements.

bangalore
chennai
delhi
hyderabad
lucknow
mumbai
pune

In [ ]:
age = [26, 35, 45, 36, 26, 47, 26, 35, 49]

for i in sorted(set(age)):
  print(i)

## for loop with if-else

In [ ]:
age = [26, 16, 18, 19, 35, 45, 36]

for i in age:
  print('age is: ', i)
  if i <= 20:
    print("junior")
  else: 
    print("senior") 
  # print('text') 

print("done")

age is:  26
senior
age is:  16
junior
age is:  18
junior
age is:  19
junior
age is:  35
senior
age is:  45
senior
age is:  36
senior
done

In [ ]:
age = [26, 16, 18, 19, 35, 45, 36]

for i in age:
  if i > 40:
    break 
  print('age is: ', i)  

print("done")

age is:  26
age is:  16
age is:  18
age is:  19
age is:  35
done

In [ ]:
age = [26, 16, 18, 19, 35, 45, 36, 34, 43, 23]

for i in age:
  if i > 40:
    continue 
  print('age is: ', i)  

print("done")

age is:  26
age is:  16
age is:  18
age is:  19
age is:  35
age is:  36
age is:  34
age is:  23
done

In [ ]:
age = [26, 16, 18, 19, 35, 45, 36]

for i in age:
  print(i)
  if i <= 20:
    print("junior")
  else: 
    print("senior")
print('Done')

##for loop with if and break

In [ ]:
fruits = ["apple","mango", "orange", "banana", "cherry"]

for x in fruits:
  if x == "banana":
    break
  print(x)

In [ ]:
age = [26, 16, 18, 19, 35, 45, 36]

for i in age:
  print(i)
  if i <= 20:
    break
print('Done')

In [ ]:
age = [26, 16, 18, 19, 35, 45, 36]

for i in age:
  print(i)
  if i <= 20:
    break
  else: 
    print("senior")
print('Done')

## for loop with if and continue

In [ ]:
fruits = ["apple","mango", "orange", "banana", "cherry"]

for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
age = [26, 16, 18, 19, 35, 45, 36]

for i in age:
  print(i)
  if i <= 20:
    continue
  else: 
    print("senior")
print('Done')

## for loop with pass statement

In [ ]:
x = 100
if x < 10:
  pass

In [ ]:
marks = [23, 45, 56, 67, 98, 76, 84]

for i in marks:
  if i <= 60:
    pass
  elif 61 < i <= 80:
    pass
  else:
    pass

0

In [ ]:
x = 10

if x < 5:
  pass

In [ ]:
x = ['p', 'y', 't', 'h', 'o', 'n']

for letter in x:
    pass

In [ ]:
for i in range(1, 11):
  if i < 5:
    pass
  print(i)

In [ ]:
for letter in 'Pooja': 
   if letter == 'j':
      pass
      print('This is pass block')
   print('Current Letter :', letter)

## for loop through tuple

In [ ]:
for i in (1, 2, 3, 4):
  print(i)

1
2
3
4

## for loop through a dictionary

When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

In [ ]:
friends = {'Harry': 'Potter', 'Ron': 'Weasley', 'Hermione': 'Granger'}

# print(friends.keys())
# print(friends.values())
print(friends.items())

dict_items([('Harry', 'Potter'), ('Ron', 'Weasley'), ('Hermione', 'Granger')])

In [ ]:
print("nisha", "arora")

nisha arora

In [ ]:
friends = {'Harry': 'Potter', 'Ron': 'Weasley', 'Hermione': 'Granger'}

for k, v in friends.items():
  print(k, v)

Harry Potter
Ron Weasley
Hermione Granger

In [ ]:
friends = {'Harry': 'Potter', 'Ron': 'Weasley', 'Hermione': 'Granger'}

for k in friends.keys():
  print("First Name is: ", k)

First Name is:  Harry
First Name is:  Ron
First Name is:  Hermione

In [ ]:
friends = {'Harry': 'Potter', 'Ron': 'Weasley', 'Hermione': 'Granger'}

for k in friends.values():
  print("Hi! ", k)

Hi!  Potter
Hi!  Weasley
Hi!  Granger

In [ ]:
list = []

for k in friends.keys():
  list.append(k)
print(list)

['Harry', 'Ron', 'Hermione']

##enumerate() function

In [ ]:
x = ["foo", "bar", "baz"]
list(enumerate(x))

[(0, 'red'), (1, 'blue'), (2, 'green')]

In [5]:
list(enumerate([1, 2, 3]))

[(0, 1), (1, 2), (2, 3)]

In [6]:
list(enumerate([1, 2, 3], start=10))

[(10, 1), (11, 2), (12, 3)]

In [ ]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
enumerate(seasons)
print(list(enumerate(seasons)))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

##for loop using enumerate

In [ ]:
colors = ['red', 'green', 'blue']

for i, j in enumerate(colors, start = 1):
    print(i, j)
    # print(type(i))

1 red
2 green
3 blue

In [8]:
seq = ['one', 'two', 'three']

for i, element in enumerate(seq):
    print(i, element)

0 one
1 two
2 three

In [9]:
for i, v in enumerate(['orange', 'white', 'green'], 1):
  print(i, v)

1 orange
2 white
3 green

## for loop over two or more sequences at the same time using zip

In [ ]:
first = ["a", "b", "c"]
second = ["d", "e", "f"]
third = ["g", "h", "i"]

for i, j, k in zip(first, second, third):
  print(i, j, k)

a d g
b e h
c f i

In [ ]:
questions = ['Name?', 'Education?', 'Profession?']
answers = ['Nisha', 'PhD', 'Training']

for q, a in zip(questions, answers):
  print('What is your {0}  It is {1}.'.format(q, a))

What is your Name?  It is Nisha.
What is your Education?  It is PhD.
What is your Profession?  It is Training.

##Nested for loop

In [ ]:
adj = ["red", "small", "tasty"]
fruits = ["apple", "plum", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red plum
red cherry
small apple
small plum
small cherry
tasty apple
tasty plum
tasty cherry

In [ ]:
for outer in ['first', 'second', 'third']:
  print(outer)
  for inner in [1, 2, 3]:
    print(inner)

first
1
2
3
second
1
2
3
third
1
2
3

In [7]:
for outer in ['first', 'second', 'third']:
  print(outer)
  for inner in range(1, 4):
    print(inner)

first
1
2
3
second
1
2
3
third
1
2
3